# Seasonality Data Cleaning

Data cleaning for Airbnb seasonality file.

In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import numpy as np
%matplotlib inline

In [3]:
data = pd.read_csv('../datasets/raw_datasets/calendar.csv')

In [4]:
data['Unnamed: 4'].fillna(value='',inplace=True)
price_strip = data['price'].str.strip()
data['new price']= price_strip.map(str)+data['Unnamed: 4'].map(str)
data[data['new price']=='nan']=np.NaN

In [5]:
print(data.shape)
data['new price'].isnull().sum()

(1048575, 6)

274923

In [6]:
data_fill = data.dropna()

In [7]:
data_fill = data_fill.drop('price', 1)
data_fill.drop("Unnamed: 4",axis=1,inplace=True)

In [8]:
data_fill.head(5)

   listing_id      date available new price
0   3604481.0  1/1/2015         t   $600.00
1   3604481.0  1/2/2015         t   $600.00
2   3604481.0  1/3/2015         t   $600.00
3   3604481.0  1/4/2015         t   $600.00
4   3604481.0  1/5/2015         t   $600.00

In [9]:
data_fill.to_csv("../datasets/calendar_clean.csv",index=False)